# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/

# Ignore environment-specific files
*.pyc
*.pyo
*.pyd

# Ignore local settings
seethio/ *.env

# Ignore database files
# Ignore SQLite database file
db.sqlite3
# Ignore .env file
.env
