<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/Signup.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/signup_successful.css' %}" /> {% endcomment %}
    <title>Sign-up completed</title>
  </head>
  <body>
    <main>
      <!-- signup successful  -->

    <div id="popup1" class="overlay">
      <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
          <div class="post">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="138"
              height="116"
              viewBox="0 0 138 116"
              fill="none"
            >
              <ellipse cx="69" cy="58" rx="69" ry="58" fill="white" />
              <path
                d="M104 46.125C104 43.3063 100.895 41 97.1 41H41.9C38.105 41 35 43.3063 35 46.125V76.875C35 79.6937 38.105 82 41.9 82H97.1C100.895 82 104 79.6937 104 76.875V46.125ZM97.1 46.125L69.5 58.9375L41.9 46.125H97.1ZM97.1 76.875H41.9V51.25L69.5 64.0625L97.1 51.25V76.875Z"
                fill="#006167"
              />
            </svg>
          </div>
          <div class="content1">
            <h1>Sign-up compeleted</h1>
            <h4>Please check your email for verification code</h4>
            <p>
              Not the correct email?
              <a href="{% url 'userauthentication:signup' %}"
                ><span>Change email address</span></a
              >
            </p>
            <a href="{% url 'userauthentication:verify_email' uidb64=uidb64 %}">
              <button>Continue verification</button>
            </a>

            <p>
              Email not received? <a href="#"><span>Resend email</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

      
    </main>
  </body>
</html>