/* GOOGLE FONT FAMILY NUNITO */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Nunito', sans-serif;
}

/* RECURRING STYLES */
h2
{
    font-size: 2.3rem;
    font-weight: 500;
    color: #006167;
}

p
{
    color: #006167;
}

.button
{
    text-decoration: none;
    background: #006167;
    box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
    padding: 0.8rem 1.6rem;
    display: block;
    border-radius: 8px;
    color: #fff;
    transition: 0.3s ease-in-out;
    width: 6rem;
    text-align: center;
}

.button:hover
{
    background: #FABF00;
    color: #006167;
}

/* DISCOVER ETHIOPIA */
.discover_ethiopia
{
    width: 100%;
    height: auto;
    background: rgba(0, 97, 103, 0.25);
}

.discover_ethiopia .discover_ethiopia_div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding-block: 1.1rem;
    width: 70%;
    margin: auto;
    text-align: center;
}

.discover_ethiopia .discover_ethiopia_div h2
{
    font-size: 2rem;
    font-weight: 500;
}
.discover_ethiopia .discover_ethiopia_div h2, .discover_ethiopia .discover_ethiopia_div p
{
    color: #000;
}

.discover_ethiopia .discover_ethiopia_div a
{
    text-decoration: none;
    background: #006167;
    box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
    padding: 1rem 1.3rem;
    border-radius: 8px;
    color: #fff;
    transition: 0.3s ease-in-out;;
}

.discover_ethiopia .discover_ethiopia_div a:hover
{
    background: #FABF00;
    color: #006167;
}



/* LIGHT BLUE BACKGROUND SECTIONS */
.light_blue_bg
{
    background: #eef8ef;
    width: 100%;
    height: auto;
    padding-top: 7rem;
    padding-bottom: 4rem;
}



/* BOOK YOUR FLIGHT */
.book_your_flight
{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    padding: 2rem 6rem;
}

.text_side
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 2rem;
}

.text_side p
{
    width: 50%;
    font-size: 1.5rem;
}

.book_your_flight img
{
    width: 60%;
}



/* BOOK HOTELS SECTION */
.book_hotels
{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
}

.book_hotels .img_side
{
    width: 100%;
    height: 600px;
    position: relative;
    align-self: flex-start;
}

.book_hotels .img_side img
{
    position: absolute;
    width: 400px;
    clip-path: circle();
    object-fit: cover;
}

.book_hotels .img_side #image1
{
    top: 0%;
    left: 0%;
}
.book_hotels .img_side #image2
{
    top: 29%;
    left: 20%;
}
.book_hotels .img_side #image3
{
    top: 58%;
    left: 40%;
}


/* SEE HOW SEETHIO WORKS */
.see_how
{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    margin-top: 5rem;
    border-radius: 10px;
    padding: 2rem 6rem;

}

.see_how iframe
{
    border-radius: 10px;
}


/* TAKE A BOLD STEP, SET YOUR TARGET, HELLO ETHIOPIA */
.take_a_bold_step
{
    padding: 4rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.take_a_bold_step .individual_card
{
    border: 1px solid #D7EFDA;
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.take_a_bold_step .individual_card img
{
    width: 450px;
    height: 450px;
    border-radius: 16px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.take_a_bold_step .individual_card img:hover
{
    transform: scale(1.5);
    cursor: pointer;
}

.take_a_bold_step .individual_card .text_part
{
    text-align: center;
}

.take_a_bold_step .individual_card .text_part p
{
    font-size: 1.2rem;
    width: 60%;
    margin-inline: auto;
    margin-block: 2rem;
}

.take_a_bold_step .individual_card .text_part a
{
    text-decoration: none;
    background-color: #006167;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.take_a_bold_step .individual_card .text_part a:hover
{
    background-color: #FABF00;
    color: #006167;
}



/* BE THE FIRST TO KNOW OUR DEALS */

.be_the_first
{
    background-color: #D7EFDA;
    padding-block: 5rem;
}

.be_the_first .be_the_first_div
{
    background: radial-gradient( rgba(0, 183, 175, 0.25) 0.25%, rgba(242, 242, 242, 0.17) 29.07%, rgba(0, 183, 175, 0.14) 52.5%, rgba(242, 242, 242, 0.19) 71.25%, rgba(0, 183, 175, 0.25) 99.96%);
    width: 70%;
    margin-inline: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
}

.be_the_first .be_the_first_div p
{
    font-size: 1.5rem;
    margin: 1rem 0rem 2rem;
}

.be_the_first .be_the_first_div form input[type = "text"], input[type = "email"]
{
    display: block;
    outline: none;
    background-color: transparent;
    padding: 1rem 2rem;
    width: 50rem;
    border: 1px solid #006167;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #000;
}

.be_the_first .be_the_first_div form input[type = "button"]
{
    display: block;
    text-align: center;
    width: 15rem;
    margin-inline: auto;
    padding: 1rem 2.5rem;
    background-color: #006167;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
    transition: 0.3s ease-in-out;
}

.be_the_first .be_the_first_div form input[type = "button"]:hover
{
    background-color: #FABF00;
    color: #006167;
}




/* CLIENT REVIEWS */

.client_reviews
{
    padding: 3rem 2rem;
}

.client_reviews h2
{
    text-align: center;
    color:rgba(51, 51, 51, 0.87);
    margin-bottom: 3rem;
}

.client_reviews .review_card
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.client_reviews .review_card .individual_review
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client_reviews .review_card .individual_review img
{
    width: 200px;
    height: 200px;
    clip-path: circle();
    object-fit: cover;
}

.client_reviews .review_card .individual_review .text-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.client_reviews .review_card .individual_review .bi-quote
{
    color: #7DEFDA;
    font-size: 2rem;
}

.client_reviews .review_card .individual_review .stars
{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #FABF00;
}









/* RESPONSIVENESS */

/* SCREEN SIZES LESSER THAN OR EQUAL TO 320px */
@media (max-width: 320px)
{
    .discover_ethiopia .discover_ethiopia_div h2
    {
        font-size: 1.5rem;
    }

    .discover_ethiopia .discover_ethiopia_div p
    {
        font-size: 14px;
    }
}



/* SCREEN SIZES LESSER THAN OR EQUAL TO 768px */
@media (max-width: 768px)
{
    .book_your_flight
    {
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;
    }


    .text_side P
    {
        width: 100%;
    }

        .book_your_flight img
    {
        width: 100%;
    }

    .button
    {
        margin-inline: auto;
    }

    .book_hotels
    {
        flex-direction: column-reverse;
        gap: 0.8rem;
    }

    .book_hotels h2, .book_hotels p, .book_hotels :active
    {
        text-align: center;
    }

    .book_hotels .img_side
    {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 50%;
        align-items: center;
        margin-inline: auto;
    }

    .book_hotels .img_side img
    {
        width: 100%;
        position:static;
        clip-path: none;
        border-radius: 10px;
    }

    .see_how
    {
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 1rem;
    }

    .see_how iframe
    {
        width: 100%;
        border-radius: 10px;
    }

    .take_a_bold_step
    {
        padding: 4rem 5rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .take_a_bold_step .individual_card img
    {
        width: 300px;
        height: 300px;
    }

}


/* SCREEN SIZES LESSER THAN OR EQUAL TO 425px */
@media (max-width: 425px)
{
    .book_your_flight
    {
        padding: 0;
    }

    .text_side P
    {
        width: 100%;
    }

    .book_hotels .img_side
    {
        width: 80%;
    }

    .be_the_first .be_the_first_div p
    {
        font-size: 20px;
    }

    .be_the_first .be_the_first_div form input[type = "text"], input[type = "email"]
    {
        width: 100%;
        font-size: 16px;
        padding: 1rem;
    }
}