@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */
:root {
    --secondary:#006167;
    --PRIMARY-CONTAINER:#D7EFDA;
    --NPRIMARY-COLOUR:#fff;
  }
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--PRIMARY-CONTAINER, #D7EFDA);
    padding: 20px 135px 66px 135px;
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 50px;
    width: 700px;
    height: 450px;
    
}
a{
    text-decoration: none;
}

span{
    color: var(--Secondary-Colour, #006167);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
}
button{
    margin-left: 13rem;
    color: var(--UNPRIMARY-COLOUR, #FFF);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
    display: flex;
    width: 350px;
    height: 66px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Secondary-Colour, #006167);
    border: none;
}
svg{
    margin-top: 2.5rem;
}
.content h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--Secondary-Colour, #006167);
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 36px; /* 80% */

}
.content h3{
    color: var(--Secondary-Colour, #006167);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
}
.content P{
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
}