# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/

# Ignore environment-specific files
*.pyc
*.pyo
*.pyd

# Ignore local settings
seethio/ *.env
.env
# Ignore database files
