@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&family=Roboto:wght@400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	color: var(--secondary);
    
 
}
:root{
    --secondary:#006167;
	--PRIMARY-CONTAINER:#D7EFDA;
	--UNPRIMARY-COLOUR: #FFF;
	--Error-Colour-Style: #E41D1D;
    --PRIMARY-COLOUR:#FABF00;
   

}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
main{
    width: 85%;
    height: 98%;
    background: #FFF;
    position: absolute;
    top: 5%;
    left: 8%;
    display: flex;
    border-radius: 1.5%;
    box-shadow: 0px 4px 20px 0px rgba(125, 239, 218, 0.80);

}
h3{
    color: var(--Secondary-Colour, #006167);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.2rem; 
    margin-top: 2%;
}
h4{
    color: var(--Secondary-Colour, #006167);
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 120% */
    margin-top: 2%;
}
a{
    text-decoration: none;
}
input{
    border: 1px solid var(--Secondary-Colour,#006167);
}
::placeholder{
    color: var(--Subwords, rgba(18, 18, 18, 0.70));
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.035px;
}
.left, .right{
    width: 50%;
}

.img-div {
    width: 100%;
    height: 92%;
    background-image: url('../images/login1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-bottom-left-radius: 1.5%;
    border-top-left-radius: 1.5%;
}


.content{
    padding: 2% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    width: 90%;
    position: relative;
    
}

.content .logo{
    width: 30%;
}
.content .logo img{
    width: 100%;
    
}

.checkbutton{
    width: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.checkbutton span{
    color: var(--Error-Colour-Style);
}
form span{
    color: var(--secondary);
}
#account{
  
    color: #272727;
    font-family: 'Lato', sans-serif;
}

.full_width{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.full_width input{
    width: 100%;
}
input[type='password']{
    position: relative;
}
.fa-eye-slash{
    position: absolute;
    right: 21%;
    top: 48%;
}
input:not([type='checkbox']):not([type='button']) {
    padding: 5% ;
    border-radius: 10px;
    margin-bottom: 5.5%;
    width: 100%;
    
  }
.btn{
    width: 90%;
    padding: 5%;
    border-radius: 10px;
    margin-top: 5%;
    background: var(--Secondary-Colour, #006167);
    color: white;
    font-size: 1.25rem;
    border: none;

  }
  .btn:hover{
    color: var(--secondary);
    background: #FABF00;
  }
  input[type='check']{
    border-radius: 3px;
  }
  .horizontal{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-evenly;
  }
  
  .social{
    display: flex;
    gap: 15px;
    margin-top: 2.5%;
  }
  .social img:nth-child(1), .social img:nth-child(2){
    border: 1px solid var(--Secondary-Colour, #006167);
    border-radius: 10px;
    margin-right: 5%;
    padding: 0.5%;
    margin-top: 1%;
    
  }
  
  .green{
    /* width: 286px;
    height: 286px; */
    width: 200px;
    height: 200px;
    /* flex-shrink: 0; */
    position: absolute;
    border-radius: 286px;
    background: var(--Secondary-Colour, #006167);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    /* margin-top: 1100px; */
    /* z-index: 99999; */
    z-index: 10;
    bottom: -60px;
    right: -20px;
}
.yellow{
    /* width: 390px;
    height: 390px; */
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--PRIMARY-COLOUR, #FABF00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    position: absolute;
    bottom: -100px;
    right: -60px;
    z-index: -10;
}
/* pop up */

.overlay {
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    padding: 25px;
    background: linear-gradient(180deg, rgba(215, 229, 239, 0.548) 0%, #D7EFDA 100%);
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 1s ease-in-out;
    color:  #121212;
    border-radius: 15px;
  }
  
  .popup h2 {
    margin-top: 0;
    color:  #121212
  }
  .popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary)
  }
  .popup .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  #email_forgot{
    width: 90%;
    padding: 4% 5%;
  }
  .popup1 .popup .close:hover , .popup2 .popup .close:hover{
    color: var(--PRIMARY-COLOUR);
  }
  .popup .content1 .popup .content1p  {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
    
  }
  .content_reset1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .content_reset1 input{
    width: 100%;
    
  }
  .popup .content1p{
    height: 50vh;
  }
  .popup .content1{
    height: 60vh;
  }
  .content_reset, .content_success{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .check input , .content_reset input{
    padding: 4%;
    height: 10%;
    width: 80%;
    margin-top: 3%;
  }
   .content1 button  , .content1p button , .content_reset button , .content_success button {
    padding: 3% 5%;
    width: 30%;
    margin-top: 3.5%;
    margin-bottom: 2.5%;
    background: var(--secondary);
    color: var(--UNPRIMARY-COLOUR);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
  }
  .content_success button {
    width: 50%;
   

  }
  .content1p .button-container {
        display: flex;
        column-gap: 100px;
        justify-content: space-evenly;
        color: var(--UNPRIMARY-COLOUR);
        margin-bottom: 30px;
        margin-top: 50px;
  }
  .content1p .button-container button {
    height: 50px;
    width: 150px;
    margin-bottom: 15px;
    padding: 15px;
  }
  .content1 button:hover , .content1p .button-container button:hover, .content1p button:hover , .content_reset button:hover , .content_success button:hover{
    background: var(--PRIMARY-COLOUR);
    color: var(--secondary);
  }
  .post{
    display: flex;
    justify-content: center;
    align-self: center;
  }

/* RESPONSIVNESS */
@media(max-width:1024px){
    input[type='button']{
        width:80%;
        margin-top: 2%;
    }
    .fa-eye-slash{
        right: 10%;
        top: 42%;
    }
    .full_width{
        margin-top: 2.5%;
    }
    .green{
        width: 150px;
        height: 150px;
        right: -30px;
    }
    .yellow{
        width: 250px;
        height: 250px;
        right: -80px;
    }
}
@media (max-width: 768px) {
    .left, .green,.yellow{
        display: none;

    }
    .right{
        width: 100%;
    }
    main{
        position: static;
        width: 100%;
        height: 100vh;
        box-shadow: none;
        overflow-x: hidden;
        margin-inline: 0;
    }
    .fa-eye-slash{
        right: 27%;
        top: 45.5%;
    }
  }
  @media (max-width: 425px) {
    .fa-eye-slash{
        right: 10%;
        top: 42%;
    }
  }
  @media (max-width: 375px) {
    main{
        width: 90%;
        padding: 1%;
        overflow-x: hidden;
    }
    .fa-eye-slash{
        right: 10%;
        top: 40%;
    }
  }