/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --Secondary-Colour:#006167;
    --PRIMARY-COLOUR:#FABF00;
    --Unsecondary-Colour:#FFF;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(0deg, #D7EFDA 76.56%, rgba(215, 239, 218, 0.00) 96.51%), #FFF;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    border-radius: 16px;
background: var(--extra, radial-gradient(109.68% 68.44% at 28.35% 22.94%, rgba(0, 183, 175, 0.25) 0.25%, rgba(242, 242, 242, 0.17) 29.07%, rgba(0, 183, 175, 0.14) 52.5%, rgba(242, 242, 242, 0.19) 71.25%, rgba(0, 183, 175, 0.25) 99.96%));
position: relative;
height: 250px;

}
#p13, #p9,#p11{
    position: absolute;
}
#p13{
    top: 40%;
    left: 10%;
}
#p9{
    top: 20%;
    left: 50%;
}
#p11{
    bottom: -5%;
    right: 10%;
    z-index: -10;
}
input[type="checkbox"]:checked {
    background: var(--Secondary-Colour) !important;
}

/* navigation styles */

button:not(.body-remove):hover {
    background: var(--PRIMARY-COLOUR);
    color: var(--Secondary-Colour);
}
/* NAV */
.navbar {
    transition: all 0.4s;
    width: 100%;
}

.navbar .nav-link {
    color: #fff;
    
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}
.home{
    color: var(--PRIMARY-COLOUR) !important;
}
.navbar.active .nav-link {
    color: #555;
}
.dropdown-toggle::after {
    border-top-color: var(--PRIMARY-COLOUR)!important; 
    
}


.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}
/* .dropdown-menu{
    background-color: transparent !important;
    
} */

.dropdown-menu .dropdown-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    color: var(--Secondary-Colour)!important;
    
  
}
.dropdown-menu .dropdown-item:hover{
    color: var(--PRIMARY-COLOUR) !important;
    background-color: var(--Secondary-Colour) !important;
   
   
   
   
 }
 .dropdown-menu li:hover {
    background-color: var(--Secondary-Colour) !important; 
}
 .dropdown-menu .tx:hover{
    border-right: 3px solid var(--PRIMARY-COLOUR);
   
 }
 
.container-fluid img{
    width: 261px;
    height: 86px;
    flex-shrink: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
.navbar .navbar-nav{
    
    display: flex ;
    /* height: 100px; */
    padding: 2px 8px 2px 0px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: 1 0 0;
    border-radius: 5px 0px 0px 5px;
    background: var(--Secondary-Colour);
}
.navbar .navbar-nav .nav-item a{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--Unsecondary-Colour);
    font-size: 20px;
    font-weight: 400;
    
}




/* Main */
.main{
    display: flex;
    padding: 10%;
  
}
.mtitle, .info{
    color: var(--Secondary-Colour, #006167);
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.info{
    font-size: 18px;
}

.right-content{
    
    
    position: relative;
    width: 100%;

}





/* .button1{
    margin-left: 360px;
} */

.filter {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    height: 56px;
    
   
}
.filterby{
    color: var(--PRIMARY-COLOUR);
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    
}
.filter_wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 55px;
}
.filter-content{
    display: flex;
    align-items: center;
}

.filter-content input{
    width: 24px;
    height: 18px;
    flex-shrink: 0;
}
.filter-content label{
  
    color: var(--Subwords, rgba(18, 18, 18, 0.70));
    text-align: justify;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.filterbuttons{
    display: flex;
    gap: 15px;
}
.filterbuttons button{
    display: flex;
    height: 30px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #C6CDD5;
    background: #E7E7E7;
}
.filterbuttons .apply{
    border-radius: 5px;
    border: 1px solid #056E51;
    background: var(--Secondary-Colour, #006167);
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.filterbuttons .clear{
    color: var(--Secondary-Colour, #006167);
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* card and card images style */

.card-div{
    display: flex;
    padding: 6% 2%;
    gap:50px;
    justify-content: center;
}
/*  */


.card {
width: 350px;
border-radius: 15px;
background: var(--UNPRIMARY-COLOUR, #FFF);
box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
border: none;
}

.carousel1, .carousel2 , .carousel3 , .carousel4 , .carousel5 , .carousel6 , .carousel7 , .carousel8 , .carousel9 ,.carousel10, .carousel11 ,.carousel12{
position: relative;
width: 100%;
height: 200px; /* Adjust as needed */
}

.carousel-image {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0;
border-radius: 10px;
transition: opacity 1s ease-in-out;
}

.carousel-image:first-child {
opacity: 1;
}







.body-text{
    padding-inline: 14px;
    color: var(--Subwords, rgba(18, 18, 18, 0.70));
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 140% */
    letter-spacing: 0.25px;
}
.body-title{
    padding-left: 14px;
    padding-top: 10px;
    color: var(--Secondary-Container, #00B7AF);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
.body-title a, .body-text a{
    float:right;
    color: var(--Text-Colour, #121212);
    text-decoration-line: underline;
    padding: 1%;
}

h3>span{
    font-size: 12px;
    padding-top: 15px;
}
.body-title h3{
    font-size: 18px;
    font-weight: bold;
    padding-top: 5%;
}
.body-text span
  {
    color: var(--Secondary-Colour);
    font-weight: bold;
  }

.fa-star{
  color: #FABF00;
}
.map{
    color: var(--Text-Colour, #121212);
    font-family: Nunito;
    font-size: 9px;
    font-weight: 400;
    line-height: 100%; /* 8px */
    text-decoration-line: underline;
    float: left;
    padding: 1%;
}
.price{
    background-color: #FABF00;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    
    padding: 3% 2% 5% 2%;
    width: 100%;
    height: 12vh; 
    line-height: 12px;
    
  
}
.price .left {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
   
    border-right: 1px solid rgba(137, 137, 137, 0.50);
    padding-right: 10%;
}
.price .left h6 , .price .right h6{
    color: var(--Subwords, rgba(18, 18, 18, 0.70));
    font-size: 13px;
    font-weight: 400;
}
.price .left p , .price .right p{
color:  #1A1A1A;
font-size: 12px;
font-weight: 400;
line-height: 10px; /* 160% */
}
.price .left a, .price .right a{
    color: var(--Secondary-Colour, #006167);
    font-size: 11px;
    font-weight: 400;
    line-height: 0px; /* 160% */
    letter-spacing: 0.25px;
    text-decoration-line: underline;
}
.price1{
  color: var(--Text-Colour, #121212);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.bucket{
    display: flex;
    height: 40px;
    padding: 12px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px 15px 5px 5px;
    margin-left:55.5%;
    background: var(--Secondary-Colour, #006167);
    border: none;
    color: var(--Unsecondary-Colour);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    font-size: 13px;
    color: white;
}
.bucket:hover{
    color: var(--Secondary-Colour);
    background: var(--PRIMARY-COLOUR);
}



  .fa-solid{
    color: var(--PRIMARY-COLOUR);
  }
   hr{
    border: 1px solid black;
    width: 100%;
   }
.navigator{
    color: var(--Text-Colour, #121212);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
    #icons1 i{
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: gray;
   }
/* water drop */
   .water_drop{
    background: #EBF7EC;
    position: relative;
   
    height: 280px;
    flex-shrink: 0;
}
.water_drop .left{
    position: absolute;
    left: 10%;
    top: 30%;
}
.water_drop .top{
    position: absolute;
    left: 50%;
    top: 15%;
}
.water_drop .right{
    position: absolute;
    right: 15%;
    top: 55%;
}

  

  /* footer */

  /* FOOTER */
footer span{
    color: var(--PRIMARY-COLOUR)
}

footer .help {
    line-height: 30px;
  
}
footer .help p{
    font-size: 16px;
    font-weight: 400;
    color: var(--Unsecondary-Colour);
    
}

footer .help p span{
    font-size: 22px;
    font-weight: 500;
   
}
.fa-brands {
    color: var(--PRIMARY-COLOUR);
    font-size: 25px;
    
}
.title{
    font-size: 18px;
    text-transform: uppercase;
}
footer{
    background-color: var(--Secondary-Colour);
    width: 100%;
   
    

}
footer .container{
    padding: 3% 5.25% 0.75% 5.25%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.container .help .social-icon{
    margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.container .help .social-icon a:hover{
    opacity: 0.5;
}
footer .container .links{
    display: flex;
    /* justify-content: space-between; */
    gap: 3.5%;
    align-items: flex-start;
   line-height: 10px;
   width: 463px;

}
footer .container .links p{
    color: var(--Unsecondary-Colour);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 250%; /* 40px */
}
footer .container .subscribe p span{
    color: var(--PRIMARY-COLOUR);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
footer .footer-wrapper , footer .footer{
    padding: 3% 5.25% 0.75% 5.25%;
}
footer .footer {
    display: flex;
    justify-content: space-between;
}
footer .content{
    display: flex;
    justify-content: space-between;
    
}
footer .subscribe input{
    display: flex;
    width: 249px;
    height: 43px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--Unsecondary-Colour);
    border: none;
    
}
.form{
    position: relative;
}
.subscribe button{
    display: flex;
   color: black;
    width: 50px;
    height: 43px;
    padding: 13px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 5px;
    border: 1px solid var(--Unsecondary-Colour);
    background: var(--PRIMARY-COLOUR);
}
.subscribe button:hover{
    color: white;
    background-color: var(--Secondary-Colour);
}
footer ::placeholder{
    width: 224px;
    padding: 5px 15px 5px 5px;
    height: 24px;
    flex-shrink: 0;
    color: #CECBC2;
}
footer form input{
    background-color: var(--Unsecondary-Colour) !important;
}


.copyright p{
    font-family: 'Public Sans', sans-serif;
}

@media screen and (max-width: 1024px) {
    
    .main{
        padding: 5%;
    }
    .filter {
        
        gap: 10px;
        align-items: center;
        padding: 0px 5px;
        height: 56px;
        
       
    }
    .filterby{
        font-size: 11.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 100% */
        
    }
    .filter_wrapper{
        gap: 10px;
        margin-left: 0px;
    }
    
    
    .filter-content input{
        width: 18px;
        height: 12px;
        flex-shrink: 0;
    }
    .filter-content label{
      
        color: var(--Subwords, rgba(18, 18, 18, 0.70));
        text-align: justify;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }
    .filterbuttons{
        display: flex;
        gap: 10px;
    }
  }
  
  

