*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* navigation styles */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--Secondary-Colour, #006167);
    justify-content: space-between;
    color: white;
  }
  nav ul {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 5%;
    width: 75%;
    margin-left: 5%;
    font-size: 20px;
  }
  
  li {
    list-style: none;
  }

.fa-magnifying-glass{
    position: absolute;
    top: 16px;
    left: 180px;
 color: black;
}
.fa-user , .home{
    color: #FABF00;
}
input::placeholder{
    padding-left: 52px;
    color: var(--Icon-Colour, #545454);
}

.dropdown-toggle::after {
    border-top-color: #FABF00 !important;; 
    
}
/* Main */
.main{
    display: flex;
    width: 100%;
}
.left_menu{
    /* width: 377px; */
    width: 25%;
    height: 1424px;
    flex-shrink: 0;
    background: var(--Secondary-Colour, #006167);
    margin-top: 3px;
   
}
aside{
   
    padding-top: 100px;
    padding-left: 15px;
    
    
    
}
aside div{
    display: flex;
    gap: 10px;
    width: 338px;
    height: 42px;
}
aside div p:hover , .bucketl:hover, .item-1:hover{
    color: #FABF00;
}
aside div p , .nav-link{
    color: var(--UNPRIMARY-COLOUR, #FFF);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}
aside  hr{
    width: 338px;
    color: white;
}
.right-content{
    background: linear-gradient(180deg, rgba(215, 239, 218, 0.00) 0%, #D7EFDA 100%), #FFF;
    position: relative;
    width: 75%;
    
}
.profile-image{
    position: absolute;
    top: -130px;
    left: 140px;
}
.right-content p{
    color: var(--Secondary-Colour, #006167);
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 30px;
    padding-top: 50px;
    
}
.hero-image{
    /* width: 1120px; */
    width: 100%;
    
}
.hero-image img{
    width: 100%;
}
.hero-image a{
    color: var(--Secondary-Colour, #006167);
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
}
.edit-profile{
    width: 536px;
    height: 508px;
    flex-shrink: 0;
    margin-left: 278px;
    margin-top: 75px;
    position: relative;
    
}
#top, #bottom{
    position: absolute;
   
}
#top{
    top: 5%;
    left: 12%;
    clip-path: circle();
}
#bottom{
    bottom: 0;
    right: 35%;
}
.edit-profile  .profile{
   display: flex;
   flex-direction: column;
    justify-content: center;
    height: 508px;
    flex-shrink: 0;
    border-radius: 0px 0px 30px 30px;
    background: rgba(255, 255, 255, 0.90);
    
    
}
.edit-profile .profile a{
    color: var(--Secondary-Colour, #006167);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-align: center;
    margin-bottom: 20px;
}

.edit-profile .profile .initial{
    color: var(--Subwords, rgba(18, 18, 18, 0.70));
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.edit-profile .profile .detail{
    color: var(--Secondary-Colour, #006167);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.profile .row{
    margin-left: 55px;
}