@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* navigation styles */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--Secondary-Colour, #006167);
    justify-content: space-between;
    color: white;
  }
  nav img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 5%;
    width: 75%;
    margin-left: 5%;
    font-size: 20px;
  }
  
  li {
    list-style: none;
  }

  .formin{
    position: relative;
    
  }
  .fa-magnifying-glass{
    position: absolute;
    top: 25%;
    left:5%;
    color: grey !important;;
  }
.fa-user , .home{
    color: #FABF00;
}
input::placeholder{
    padding-left: 52px;
    color: var(--Icon-Colour, #545454);
}

.dropdown-toggle::after {
    border-top-color: #FABF00 !important;; 
    
}
/* Main */
.main{
    display: flex;
    width: 100%;
}
.left_menu{
    /* width: 377px; */
    width: 25%;
    height: 1424px;
    flex-shrink: 0;
    background: var(--Secondary-Colour, #006167);
    margin-top: 3px;
   
}
aside{
   
    padding-top: 100px;
    padding-left: 15px;
    
    
    
}
aside div{
    display: flex;
    gap: 10px;
    width: 338px;
    height: 42px;
}
aside div p:hover , .bucketl:hover, .item-1:hover , aside div a:hover{
    color: #FABF00;
}
aside div p , .nav-link ,aside div a{
    color: var(--UNPRIMARY-COLOUR, #FFF);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}
aside  hr{
    width: 338px;
    color: white;
}
.right-content{
    background: linear-gradient(180deg, rgba(215, 239, 218, 0.00) 0%, #D7EFDA 100%), #FFF;
    width: 75%;
    display: flex;
    margin: 25px;
    
   
    
}
.contactus{
    width: 35%;
    background: #006167;
    border-radius: 15px;
    padding: 2%;
    margin: 0%;
    height: 75vh;
    margin-top: 5%;
    color: var(--UNPRIMARY-COLOUR, #FFF);
    font-family: 'Lexend', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.contactus h3{
    text-align: center;
}
.question{
    width: 50%;
    padding-top: 2%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.question p, h5{
    text-align: center;
}
.question form input {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    margin-top: 30px;
    border: 1px solid grey;
}
.question form a{
    width: 100%;
    display: flex;
    height: 60px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Secondary-Colour, #006167);
    color: var(--UNPRIMARY-COLOUR, #FFF);
text-align: center;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.03px;
    border: none;
}
.email div, .social div{
    display: flex;
    gap: 10px;
    padding-top: 2%;
}
.social{
    padding-top: 20px;
}
.response p{
    color: var(--PRIMARY-COLOUR, #FABF00);
text-align: center;
font-family: 'Nunito Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
/* popup */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    }
    
    /* The overlay becomes visible when the target is :target */
    .overlay:target {
    visibility: visible;
    opacity: 1;
    }
    
    .popup_trip {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 70px auto;
        padding: 25px;
        background: linear-gradient(180deg, rgba(215, 229, 239, 0.548) 0%, #D7EFDA 100%);
        border-radius: 5px;
        width: 40%;
        position: relative;
        transition: all 1s ease-in-out;
        color:  #121212;
        border-radius: 15px;
      }
      .fa-solid{
        color: var(--PRIMARY-COLOUR);
      }
       hr{
        border: 1px solid black;
        width: 100%;
       }
      .popup_trip p {
        color:  #121212
      }
      
      .popup_trip .content_trip .invite #copylink:hover{
        background: var(--PRIMARY-COLOUR);
        color: var(--Secondary-Colour);
      }
      .popup_trip .content_trip {
        max-height: 30%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .popup_trip .content_trip .invite{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .popup_trip .content_trip .invite .message{
        display: none;
      }
      .popup_trip .content_trip .invite .message .fa-circle-check{
        color: green;
        margin-top: 5px;
      }
      .popup_trip .content_trip .invite .message p{
        color: var(--Secondary-Colour);
      }
      
      .popup_trip .content_trip .invite #copylink{
        display: flex;
        width: 40%;
        height: 15%;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--Secondary-Colour);
        border: none;
        color: var(--Unsecondary-Colour);
        font-size: 20px;
      }
      .content_trip .Continue{
        display: inline-flex;
        height: 60px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--Secondary-Colour, #006167);
        color: #FFF;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
