@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&family=Public+Sans:wght@200;300;400&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::placeholder{
        text-align: center;
        color: var(--Search-Bar-Colour, rgba(0, 0, 0, 0.50));
    }
}
/* ROOT VARIABLES */
:root{
    --Secondary-Colour:#006167;
    --PRIMARY-COLOUR:#FABF00;
    --Unsecondary-Colour:#FFF;
}
body{
    font-family: 'Nunito', sans-serif;
    -webkit-text-size-adjust: 100%; /* Older browsers */
    text-size-adjust: 100%;  /*modern browsers*/
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}


/* NAVIGATION BAR */
/* NAVIGATION BAR */
.navbar {
    transition: all 0.4s;
    width: 100%;
}

.navbar .nav-link {
    color: #fff;
    
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}
.home{
    color: var(--PRIMARY-COLOUR) !important;
}
.navbar.active .nav-link {
    color: #555;
}
.dropdown-toggle::after {
    border-top-color: var(--PRIMARY-COLOUR)!important; 
    
}


.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}
/* .dropdown-menu{
    background-color: transparent !important;
    
} */

.dropdown-menu .dropdown-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    color: var(--Secondary-Colour)!important;
    
  
}
.dropdown-menu .dropdown-item:hover{
    color: var(--PRIMARY-COLOUR) !important;
    background-color: var(--Secondary-Colour) !important;
   
   
   
   
 }
 .dropdown-menu li:hover {
    background-color: var(--Secondary-Colour) !important; 
}
 .dropdown-menu .tx:hover{
    border-right: 3px solid var(--PRIMARY-COLOUR);
   
 }
 
.container-fluid img{
    width: 261px;
    height: 86px;
    flex-shrink: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
.navbar .navbar-nav{
    
    display: flex ;
    /* height: 100px; */
    padding: 2px 8px 2px 0px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: 1 0 0;
    border-radius: 5px 0px 0px 5px;
    background: var(--Secondary-Colour);
}
.navbar .navbar-nav .nav-item a{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--Unsecondary-Colour);
    font-size: 20px;
    font-weight: 400;
    
}


/* CAROUSEL*/

#container {
  display: flex;
  justify-content: space-between;
}

#carousel, #text {
  height: 100vh; 
}

#carousel {
  width: 60%;
}

#text {
    width: 50%;
    padding-top: 1rem;
    position: relative;
        
}
#text .top{
    position: absolute;
    top: 10%;
    z-index: -10;
}
#text .bottom{
    position: absolute;
    bottom: 20%;
    right:10% ;
    z-index: -10;
}
#text p{
    width: 650px;
    height: 200px;
    flex-shrink: 0;
    color: var(--Secondary-Colour);
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 96px;
    padding: 5.5rem 1rem;
}
#ethiopia{
    color: var(--Secondary-Colour);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 96px;
}
#Unique{
    font-size: 2.8rem;
    color: var(--PRIMARY-COLOUR);
}
.location{
    
    display: flex;
    align-self:self-end;
}
#carousel img, #text p {
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover; /* For images */
}

#carousel img.active, #text p.active {
  display: block;
}

/* FLIGHT AND LODGE */
header{
    position: relative;
}
.lodge{
    width: 87%;
    position: absolute;
    top:80%;
    left: 7%;
    height: 70%;
    
}


#lodgeButton,#flightButton{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    
    background: var(--UNPRIMARY-COLOUR, #FFF);
    border-right: none;
    border-bottom: none;
    
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    }
.green , .flightcontainer{
    background: var(--Secondary-Colour);
    padding: 3% ;
    border-radius: 20px 20px 20px 0px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    justify-content: center;
    color: var(--UNPRIMARY-COLOUR, #FFF);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    height: 78%;
    width: 100% !important;  
}





#lodgecontainer{
    display: block;
}

/* flight container */

.containerflight {
    width: 80%;
    height: 250px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: relative; /* Add this */
    
    border-radius: 20px 20px 20px 0px;
    
 }

.date input , option{
    text-align: center;
    border: none;
}
 .containerflight > div {
    margin: 5px;
 }

 .containerflight > div > input, .containerflight > div > select ,input {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px; /* Add this */
    height: 30px; /* Add this */
 }

 .containerflight > div > label {
    display: block;
    text-align: center;
 }

 .passengers {
    display: flex;
    justify-content: space-around;
 }

 .passengers > div {
    text-align: center;
 }

 .search-btn {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #FFF;
    color: var(--Secondary-Colour);
    text-align: center;
    border: none;
    cursor: pointer;
    display: flex;
    width: 150px;
    height: 56px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
 }
 .search-btn:hover{
    background: var(--PRIMARY-COLOUR);

 }

/* .green{
    display: none;
} */
.containerd {
    display: none;
  }
  .button1 {
    border: none;
    color:var(--Search-Bar-Colour, rgba(0, 0, 0, 0.50));
  }
  .button1.active {
    border-radius: 20px 0px 0px 0px;
    border-top: 2px solid var(--Secondary-Colour, #006167);
    border-left: 2px solid var(--Secondary-Colour, #006167);
    border-bottom: none;
    border-right: none;
    color: var(--Secondary-Colour, #006167);
  }
.flex_item{
    display: flex;
    /* margin-left: 10%; */
    
}

.icon{
    display: flex;
    gap: 1%;
    
}
.icon i{
    color: var(--PRIMARY-COLOUR);
    
}
.fa-solid{
    color: var(--PRIMARY-COLOUR);
}

.count{
    border-radius: 10px;
    border: 1px solid var(--Line-Colour, rgba(137, 137, 137, 0.50));
    background: var(--UNPRIMARY-COLOUR, #FFF);
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    color: black;
    padding: 0 3%;
    cursor: pointer;
}
.count p{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#input{
    border-right: 1px solid rgba(137, 137, 137, 0.50);
    border-left: 1px solid rgba(137, 137, 137, 0.50);
    height: 100%;
    padding-inline: 8%;
    
}
.carousel-indicators button {
    border-radius: 100% !important; /* This makes the indicator round */
    padding: 5px !important;
    width: 5px !important;
    height: 5px !important;
    color: var(--Secondary-Colour) !important;
    
}
.info{
    color: var(--Text-Colour, #121212);
    font-size: 32px;
    font-weight: 500;
    line-height: 32px; /* 100% */
}
  
.search{
    display: flex;
    width: 150px;
    height: 56px;
    padding: 12px 24px;
    margin-inline:50% ;
    border-radius: 5px;
    background: var(--UNPRIMARY-COLOUR, #FFF);
    border: none;
    justify-content:  center;
    color: var(--Secondary-Colour, #006167);;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.search:hover
{
    background: #FABF00;
    color: #006167;
}
.checkin, .checkout{
    width: 18%;
}
.checkin input , .checkout input{
    border-radius: 10px;
    border: 1px solid var(--Line-Colour, rgba(137, 137, 137, 0.50));
    background: var(--Unsecondary-Colour, #FFF);
    width: 70%;
    height: 45%;
    text-align: center;
}

.group input {
    width: 50px;
    height: 30px;
}

.flight1{
    background-color: #006167;
    padding: 10px;
    color: #fff;
    border-radius: 20px 20px 20px 0px;
}
.flight1 form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flight1 form div {
    flex: 1 0 10%; /* This will make the divs take up ~1/5 of the container width, and wrap to the next line if there's not enough space */
    margin: 10px;
    
}
.flight1 form div input {
    width: 100%; /* adjust as needed */
    height: 35px; /* adjust as needed */
    border-radius: 10px;
}
.flight1 form div#passengers input {
    width: auto; /* reset to default or adjust as needed */
    height: auto; /* reset to default or adjust as needed */
}
.flight1 form .passengers{
    display: flex;
    flex-direction: row;
}



.flight1 form .passengers .flex-container .adult ,.children ,.infants{
    display: flex;
    flex-direction: column;
    
   
}
.flight1 form .passengers .flex-container input{
   width: 40%;
}

.searchbutton1, .searchbutton {
    display: block;
    margin-left:520px;
    padding: 0.5% 3.5%;
    color: var(--Secondary-Colour);
    font-size: 18px;
    font-weight: 500;
   border: none;
}
.searchbutton:hover ,.searchbutton1:hover {
    color: var(--Secondary-Colour);
    background: var(--PRIMARY-COLOUR);
}
.searchbutton1{
    margin-left: 560px;
}
.trip_planner form .search_btn:hover , .currency form .search_btn:hover{
    color: var(--Secondary-Colour);
    background: var(--PRIMARY-COLOUR);
}
.trip_planner form .search_btn{
    margin-left: 36%;
    margin-top: 5%;
    display: flex;
    width: 290px;
    height: 70px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--Secondary-Colour, #006167);
    border: none;
    color: var(--Unsecondary-Colour);
    font-weight: 500;
    font-size: 20px;

}
.currency form .search_btn{
    border-radius: 5px;
    background: var(--UNPRIMARY-COLOUR, #FFF);
    border: none;
    color: var(--Secondary-Colour);
    margin-left: 32%;
    margin-top: 5%;
    display: flex;
    width: 290px;
    height: 70px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;


}
.container1{
    width: 100% !important;
    background: linear-gradient(180deg, rgba(215, 239, 218, 0.00) 0%, rgba(215, 239, 218, 0.00) 0%, rgba(215, 239, 218, 0.50) 0%), #FFF;
    margin-top: 20%;
   
   
    
    
    
}

.bucket{
    display: flex;
    width: 170px;
    height: 40px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px 15px 5px 5px;
    margin-left:55.5%;
    background: var(--Secondary-Colour, #006167);
    border: none;
    color: var(--Unsecondary-Colour);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.bucket:hover{
    color: var(--Secondary-Colour);
    background: var(--PRIMARY-COLOUR);
}

.container1 h4, .container2 h4 {
    color: var(--Text-Colour, #121212);
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 100% */
}
.trip_planner{
  
    margin: 10%;
    border-radius: 15px;
    background: var(--UNPRIMARY-COLOUR, #FFF);
    padding: 5% 8%;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    
}
.card_div{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}
.activites_to_explore , .restaurants_and_dinings, .featured_deals ,.top_rated_lodge{
    margin: 10%;
    
    
}


.trip_planner .card{
    margin: 1% 1%;
}
.trip_planner p , .trip_planner h3{
    text-align: center;
}
.trip_planner select, .trip_planner input{
    width: 100%;
    height: 6vh;
    border-radius: 10px;
    border: 2px solid var(--Line-Colour, rgba(137, 137, 137, 0.50));
    background: var(--UNPRIMARY-COLOUR, #FFF);
}
.price{
    background-color: #FABF00;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 3% 2%;
    width: 100%;
    height: 15vh; 
    line-height: 12px;
}
.price .left {
    border-right: 1px solid black;
    padding-right: 10%;
}
.container2{
    width:100%;
    background-color: white;
}
.rivan{
    background: var(--Secondary-Colour, #006167);
    position: relative;
}
.rivan svg{
    font-size: 5rem;
    position: absolute;
    top: -50%;
    left: 15%;
   
}
.rivan p{
    display: flex;
    text-align: center;
    padding-left: 30%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: var(--UNPRIMARY-COLOUR, #FFF);
    text-align: center;;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    
}
#deal1 ,#deal2{
    position: relative;
}
#deal11, #deal12{
    position: absolute;
    top: 0;
    left: 0;
    fill: #D9D9D9;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.20));

}
.deal svg{
    font-size: 5rem;
    position: absolute;
    top: -50%;
    left: 15%;
   
}
.card {
    width: 100%;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    position: relative;
}
.card-title{
    color: var(--Secondary-Colour);
}
.card img{
    width: 100%;
    height: 50vh;
    border-radius: 15px;
    
}
.currency{
    background: var(--Secondary-Colour, #006167);
    height: 641px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-inline: 20%;
    text-align: center;
    color: var(--UNPRIMARY-COLOUR, #FFF);
    
}
.currency .row{
    margin-bottom: 5% !important;

}
currency button{
    display: flex;
    width: 335px;
    height: 70px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    border-radius: 5px;
    background: var(--UNPRIMARY-COLOUR, #FFF);
    margin-inline: 30% ;
    color: var(--Secondary-Colour, #006167);;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.currency button:hover
{
    background: #FABF00;
    color: #006167;
}
.currency .row .col{
    color: black;

}
.currency .money{
    border-radius: 10px;
    border: 2px solid var(--Line-Colour, rgba(137, 137, 137, 0.50));
    background: var(--UNPRIMARY-COLOUR, #FFF);
    width: 335px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.currency .money .right select{
    border: none !important;
    
}
.currency .money .right .form-div{
    padding-top: 8% !important;

}
/* Water drop */
.water_drop{
    background: #EBF7EC;
    position: relative;
   
    height: 280px;
    flex-shrink: 0;
}
.water_drop .left{
    position: absolute;
    left: 10%;
    top: 30%;
}
.water_drop .top{
    position: absolute;
    left: 50%;
    top: 15%;
}
.water_drop .right{
    position: absolute;
    right: 15%;
    top: 55%;
}
/* pop up */

.overlay {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 70px auto; */
    margin: 35px auto;
    padding: 30px 25px;
    /* background: linear-gradient(180deg, rgba(215, 229, 239, 0.548) 0%, #D7EFDA 100%); */
    max-width: 45%;
    position: relative;
    transition: all 1s ease-in-out;
    color:  #121212;
    border-radius: 15px;
    border: 2px solid var(--Secondary-Colour, #006167);
    background-image: url('/Front-end/images/Polygon\ 10.svg'), url('/Front-end/images/Polygon\ 9.svg'), url('/Front-end/images/Polygon\ 13.svg'), url('/Front-end/images/Polygon\ 12.svg'), url('/Front-end/images/Polygon\ 11.svg'), url('/Front-end/images/Polygon\ 14.svg');
    background-color:#D7EFDA;
    /* Position and size of the images */
    background-position: 0% 60%,  100% 15%, 5% 0%, 100% 95%,50% 100%, 80% 5%;
    /* background-size: 25px 50px, 75px,25px, 15px 20px ,10px 12px ,18px 20px , 25px 12px;   */
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  
  .popup h5{
    margin-top: 8%;
    color:  var(--Secondary-Colour)
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--Secondary-Colour)
  }
  .popup .close:hover {
    color: var(--PRIMARY-COLOUR);
  }
  .popup .content {
    height: 80vh;
    /* overflow: auto; */
    overflow: hidden;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--UNPRIMARY-COLOUR, #FFF);
    
  }
  .popup .content .row{
    padding-left: 8%;
    margin-top: 4%;
  }
  .popup .content .row .bank a{
    color: var(--Secondary-Colour);
    text-decoration: underline;
  }

  /* footer */

  /* FOOTER */
footer span{
    color: var(--PRIMARY-COLOUR)
}

footer .help {
    line-height: 30px;
  
}
footer .help p{
    font-size: 16px;
    font-weight: 400;
    color: var(--Unsecondary-Colour);
    
}

footer .help p span{
    font-size: 22px;
    font-weight: 500;
   
}
.fa-brands {
    color: var(--PRIMARY-COLOUR);
    font-size: 25px;
    
}
.title{
    font-size: 18px;
    text-transform: uppercase;
}
footer{
    background-color: var(--Secondary-Colour);
    width: 100%;
    

}
footer .container{
    padding: 3% 5.25% 0.75% 5.25%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.container .help .social-icon{
    margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

footer .container .links{
    display: flex;
    /* justify-content: space-between; */
    gap: 3.5%;
    align-items: flex-start;
   line-height: 10px;
   width: 463px;

}
footer .container .links p{
    color: var(--Unsecondary-Colour);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 250%; /* 40px */
}
footer .container .subscribe p span{
    color: var(--PRIMARY-COLOUR);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
footer .footer-wrapper , footer .footer{
    padding: 3% 5.25% 0.75% 5.25%;
}
footer .footer {
    display: flex;
    justify-content: space-between;
}
footer .content{
    display: flex;
    justify-content: space-between;
    
}
footer .subscribe input{
    display: flex;
    width: 249px;
    height: 43px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--Unsecondary-Colour);
    border: none;
    
}
.form{
    position: relative;
}
.subscribe button{
    display: flex;
   color: black;
    width: 50px;
    height: 43px;
    padding: 13px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 5px;
    border: 1px solid var(--Unsecondary-Colour);
    background: var(--PRIMARY-COLOUR);
}
.subscribe button:hover{
    color: white;
    background-color: var(--Secondary-Colour);
}
footer ::placeholder{
    width: 224px;
    padding: 5px 15px 5px 5px;
    height: 24px;
    flex-shrink: 0;
    color: #CECBC2;
}
footer form input{
    background-color: var(--Unsecondary-Colour) !important;
}


.copyright p{
    font-family: 'Public Sans', sans-serif;
}
