<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/Signup.css' %}" />
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Sign up</title>
  </head>
  <script src="{% static 'js/signup2.js' %}"></script>
<body>
    {% block content %}
    <main>
      <div class="left">
        <div class="img-div"></div>
      </div>
      <div class="right">
        <div class="content">
          <div class="logo">
            <img src="{% static 'images/seethio_logo.png' %}" alt="" />
          </div>
          <h3>Explore Ethiopia</h3>
          <h4>Create an account to get started</h4>
          {{ form.errors }}

          <form action="" method="post" id="myForm">
            {% csrf_token %}
            <div class="half-width">
              {{ form.first_name }} {{ form.last_name }} {% comment %}
              <input
                type="text"
                name="firstname"
                id="firstname"
                placeholder="First Name"
              />
              <input
                type="text"
                name="lastname"
                id="lastname"
                placeholder="Last Name"
              />
              {% endcomment %}
            </div>
            <div class="full_width">
              {{ form.username }} {{ form.email }} {{ form.password1 }}
              {%comment %}
              <input
                type="text"
                name="username"
                id="username"
                placeholder="User Name (optional)"
              />
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email Address"
              />
              <input
                type="password"
                name="Password"
                id="Password"
                placeholder="Password"
              />
              {% endcomment %}
              <i class="fa-regular fa-eye-slash" id="eye"></i>
            </div>
            <div class="check">
              <input type="checkbox" name="checkbox" id="terms" />
              <p>
                I have read and accepted SEETHIO
                <a href=""><span>Terms</span> & <span>Policy</span></a>
              </p>
            </div>
            
              <input
                id="submit"
                
                class="btn"
                type="submit"
                value="Sign Up"
              />
            
          </form>
          <div id="message"></div>

          <div class="horizontal">
            <img src="{% static 'images/horizontal.svg' %}" alt="" />
            <p>Or</p>
            <img src="{% static 'images/horizontal.svg' %}" alt="" />
          </div>
          <div class="social">
            <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'images/google.svg' %}" alt="Sign up with google" /></a>
            <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'images/facebook.png' %}" alt="Sign up with facebook"/></a>
          </div>
          <p id="account">
            Already have an account?<span
              ><a href="{% url 'userauthentication:signin' %}">Login</a></span
            >
          </p>
        </div>
      </div>
      <div class="ellipse">
        <div class="green"></div>
        <div class="yellow"></div>
      </div>
    </main>
    <!-- ellipse -->
    {% endblock content %}
    {% comment %} <script src="{% static 'js/signup.js' %}"></script> {% endcomment %}
</body>
</html>