<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Password Reset Completed</title>
  </head>
  <body>
    <main>
      <div id="popup2" class="overlay">
        <div class="popup">
          <div class="post">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="138"
              height="116"
              viewBox="0 0 138 116"
              fill="none"
            >
              <ellipse cx="69" cy="58" rx="69" ry="58" fill="white" />
              <path
                d="M104 46.125C104 43.3063 100.895 41 97.1 41H41.9C38.105 41 35 43.3063 35 46.125V76.875C35 79.6937 38.105 82 41.9 82H97.1C100.895 82 104 79.6937 104 76.875V46.125ZM97.1 46.125L69.5 58.9375L41.9 46.125H97.1ZM97.1 76.875H41.9V51.25L69.5 64.0625L97.1 51.25V76.875Z"
                fill="#006167"
              />
            </svg>
          </div>
          <a class="close" href="#">&times;</a>
          <div class="contentp">
            <div class="content1p">
              <h3>We have sent you an email</h3>

              <h3>Click on the link to reset your password</h3>

              <p style="text-align: center; margin-top: 5%">
                Didn’t receive the email?
              </p>
              <div class="button-container">
                <a
                  href="{% url 'userauthentication:resend_password_reset_email' %}">
                  <button>Resend email</button>
                </a>
                <a href="{% url 'userauthentication:resend_password_reset_email' %}">
                  <button>Proceed</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>