<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}" />
    <title>Forgot Password</title>
  </head>
  <body>
    <main>
      <div class="content">
        <div class="check">
          <h1>Forgot Password?</h1>
          <h3>Enter your email address to reset your password</h3>
          {% comment %}
          <p style="backgroud-color: red">{{ form.errors }}</p>
          {% endcomment %} {% if password_form.email.errors %}
          <p class="error">{{ password_form.email.errors.0 }}</p>
          {% endif %}

          <form method="POST">
            {% csrf_token %} {{ password_form.email }} {% comment %}
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email Address"
            />
            {% endcomment %}
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>