<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% comment %} <link rel="stylesheet" href="{% static 'css/forgot.css' %}" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Forgot Password</title>
  </head>
  <body>
    <main>
      <div id="popup1" class="overlay">
        <div class="popup">
            <a class="close" href="#">&times;</a>
            <div class="content">
                    
                    <div class="content1">
                        <div class="check">
                         <h1>Forgot Password?</h1>
                         <h3>Enter your email address to reset your password</h3>
                         <form method="POST">
                          {% csrf_token %} {{ password_form.email }}
                         {% comment %} <input type="email" name="email" id="email_forgot" placeholder="Email Address"> {% endcomment %}
                        </div>
                        
                        <button onclick="window.location.href='#popup2'">Submit</button>
                      </form>
                      </div>
                
            
            </div>
        </div>
      </div>
    </main>
  </body>
</html>