<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/Reset_password.css' %}" />
    <title>Reset password</title>
  </head>
  <body>
    <main>
      <div class="content">
        {% if validlink %}
        <div class="check">
          <h1>Reset Password</h1>
          <h3>Create a new password</h3>
          <div class="button-div">
            <form method="POST">
              {% csrf_token %} {{ form.as_p }}
              <input
                type="password"
                name="password"
                id="password"
                placeholder="New Password"
              />
              <input
                type="password"
                name="password"
                id="password-confirm"
                placeholder="Re-type Password"
              />
              <div id="message"></div>

              <button type="submit" id="submit">Reset</button>
            </form>
          </div>
        </div>
        {% else %}
        <p>
          The password reset link was invalid, possibly because it has already
          been used. Please request a new password reset.
        </p>

        {% endif %}
      </div>
    </main>

    <script src="password.js"></script>
  </body>
</html>