<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/Front-end/Css/Reset_password.css" />
    <title>Reset password</title>
  </head>
  <body>
    <main>
      <div class="content">
        <div class="check">
         <h1>Reset Password</h1>
         <h3>Create a  new password</h3>
         <div class="button-div">
           <input type="password" name="password" id="password" placeholder="New Password" required >
           <input type="password" name="password" id="password-confirm" placeholder="Re-type Password"  required>
           <div id="message"></div>
         </div>
        </div>
        
        <a href="/Html/Login/password_reset.html"><button type="submit" id="submit">Reset</button></a>
      </div>
    </main>

    <script src="password.js">  </script>
  </body>
</html>
