

<style>
  /* pop up */
  .overlay {
      position: fixed;
      top: 10%;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
  
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }
    .popup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 70px auto;
      padding: 25px;
      background: linear-gradient(180deg, rgba(215, 229, 239, 0.548) 0%, #D7EFDA 100%);
      border-radius: 5px;
      width: 40%;
      position: relative;
      transition: all 1s ease-in-out;
      color:  #121212;
      border-radius: 15px;
    }
    
    .popup h2 {
      margin-top: 0;
      color:  #121212
    }
    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: var(--Secondary-Colour)
    }
    .popup .close:hover {
      color: var(--PRIMARY-COLOUR);
    }
    .popup .content {
      max-height: 30%;
      overflow: auto;
    }
  
</style> 
<scipt>
    
</scipt>